<div class="card">
  <div class="content">
    <i class=""></i>
    <h3 class="ui header"></h3>
    <div class="description">
      <div class="ui text"> </div>
      <div class="ui text"> </div>
    </div>
    <div class="description ui two column grid">
      <div class="column">
        <div class="ui text">
          <div class="ui text"> </div>
          <div class="ui text"> </div>
          <div class="ui text"> </div>
        </div>
      </div>
      <div class="column">
        {{!-- {{#if trend  1}}
        <i class="right floated big arrow up ${_colour} icon"></i>
        {{else if trend  -1}}
        <i class="right floated big arrow down ${_colour} icon"></i>
        {{/if}} --}}
      </div>
    </div>
  </div>
</div>